.section-heading{
    text-align: center;
    margin: 0 auto;
    h6{
        font-size: 16px;
        margin-bottom: 12px;
        text-align: center;
        line-height: 1.2;
        font-weight: 400;
        color: #919191;
        opacity: 0.5;
        position: relative;
        display: inline-block;
        margin-bottom: 0;
    }
    h2{
        text-align: center;
        line-height: 1.2;
        font-size: 2.5em;
        font-weight: 400;
        color: #222222;
        margin-top: 0;
    }
}
.space{
    margin-bottom: 30px;
}