#team{
    background-color: #fafafa;
    padding: 60px 0;
    .team-member{
        margin-bottom: 40px;
        &:hover{
            .team-member-body {
                box-shadow: 0 1px 20px rgba(0, 0, 0, 0.15);
            }
        }
        .team-member-image {
            display: block;
            border-radius: 50%;
            width: 50%;
            margin: 0 auto -15px;
        }
        .team-member-body {
            background: $white;
            padding: 36px 26px 26px 26px;
            box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07);
            transition: all 1s;
            .team-member-title {
                font-size: 1.2em;
                margin-bottom: 15px;
                font-weight: 400;
                color: $black;
                line-height: 1.2;
                margin: 0 0 20px;
            }
            .team-member-description {
                text-transform: uppercase;
                letter-spacing: 0.1em;
                font-size: 0.65em;
                margin: 0 0 15px;
            }
            .team-member-content {
                margin: 15px 0 0;
                p{
                    margin-bottom: 0;
                    font-size: 0.875em;
                    font-weight: 400;
                    color: #919191;
                }
            }
        }
    }
}